body {
    margin: 0;
    padding: 1%;
    background-color: rgb(17, 16, 16);
}

.header {
    height: 30vh;
    margin-top: 1%;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin: auto;
    background-color: rgb(221, 32, 64);
}

h1 {
    color: white;
    text-shadow: 1px 1px 1px black;
    justify-self: center;
    align-self: center;
}

h2 {
    margin: auto;
    color: white;
}


.pink {
    background-color: rgb(221, 32, 64);
    width: 100%;
}

.mb-3 {
    margin: auto;
    justify-content: space-around;
}

.input-group {
    margin-top: 3%;
}

.summary {
    width: 100%;
}

.d-grid {
    display: flex;
    margin: auto;
    margin-bottom: 1%;
    justify-content: center;
}


.accordion-flush {
    border-color: rgb(221, 32, 64);
    background-color: rgb(221, 32, 64);
}

.accordion-transition {
    border-color: rgb(221, 32, 64);
    background-color: rgb(221, 32, 64);
}

.collapsed {
    border-color: rgb(221, 32, 64);
    background-color: rgb(221, 32, 64);
}

.marge {
    margin-top: 20%;
}

.accordion-button {
    color: white;
}

.accordion-body {
    background-color: rgb(241, 111, 133);
}

@media (max-width: 800px) {
    #imagel {
        display: none;
    }
    .header {
       height: 20vh;
    }

}

@media (min-width: 800px) {
    #images {
        display: none;
        color: transparent;
    }
    .header {
        
        max-width: 100%;
        height: auto
    }
    .number {
        width: 35%;
    }
}